{
	"elko": {
		"controllers": ["IP-ADDRESS-1", "IP-ADDRESS-2", ...],
		"user": "[LOGIN]",
		"key": "[PASSWORD SHA1 HASH]"
	},
	"ws": "ws://{{HOST}}/api/ws",
	"state": "http://{{HOST}}/api/devices/{{DEVICE_ID}}/state",
	"broker": "mqtt://localhost:1883",
	"regex": "http://[\\d+\\w+\\.]+/api/devices/(.*)"
}