{
	"ws": "ws://[ELKO-EP-HOST]/api/ws",
	"url": "http://[ELKO-EP-HOST]",
	"prefix": "/api/devices/",
	"regex": "http://[ELKO-EP-HOST]/api/devices/(.*)",
	"suffix": "/state",
	"devices": {
		"[ELKO-ID]": {
			"item": "[OPENHAB-SWITCH-ITEM]",
			"transform": "state ? 'ON' : 'OFF'",
			"get": {
				"method": "GET",
				"url": "http://[ELKO-EP-HOST]/api/devices/{id}/state",
				"headers": {},
				"path": "$.on"
			},
			"check": {
				"method": "GET",
				"url": "http://[OPENHAB-HOST]/rest/items/{item}",
				"headers": { "Accept": "application/json" },
				"path": "$.state"
			},
			"update": {
				"method": "POST",
				"url": "http://[OPENHAB-HOST]/rest/items/{item}",
				"headers": { "Content-Type": "text/plain", "Accept": "application/json" },
				"body": "state"
			}
		},
		"[ELKO-ID]": {
                        "item": "[OPENHAB-DIMMER-ITEM]",
                        "transform": "state + ''",
                        "get": {
                                "method": "GET",
                                "url": "http://[ELKO-EP-HOST]/api/devices/{id}/state",
                                "headers": {},
                                "path": "$.brightness"
                        },
                        "check": {
                                "method": "GET",
                                "url": "http://[OPENHAB-HOST]/rest/items/{item}",
                                "headers": { "Accept": "application/json" },
                                "path": "$.state"
                        },
                        "update": {
                                "method": "POST",
                                "url": "http://[OPENHAB-HOST]/rest/items/{item}",
                                "headers": { "Content-Type": "text/plain", "Accept": "application/json" },
                                "body": "state"
                        }
                },
                "[ELKO-ID]": {
                        "item": "[OPENHAB-COLOR-ITEM]",
                        "transform": "RGB2HSV(state)",
                        "get": {
                                "method": "GET",
                                "url": "http://[ELKO-EP-HOST]/api/devices/{id}/state",
                                "headers": {}
                        },
                        "check": {
                                "method": "GET",
                                "url": "http://[OPENHAB-HOST]/rest/items/{item}",
                                "headers": { "Accept": "application/json" },
                                "path": "$.state"
                        },
                        "update": {
                                "method": "POST",
                                "url": "http://[OPENHAB-HOST]/rest/items/{item}",
                                "headers": { "Content-Type": "text/plain", "Accept": "application/json" },
                                "body": "state"
                        }
                }
	}
}
